mat-drawer {
  width: 200px;
}

mat-drawer-content {
  position: relative;
  .ic-sidenav-open {
    position: absolute;
    left: 0px;
    top: 50vh;
    transform: translateY(-50%);
  }
}

.mat-card:not([class*=mat-elevation-z]){
  box-shadow: none;
  border: 1px dashed #ccc;
}

.border-dashed {
  border: 1px dashed #ccc !important;
}

.pointer {
  cursor: pointer;
}

mat-drawer {
  width: 300px;
}

mat-list-item {
  border-radius: 5px;
  transition: .2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #ddd;
  }
}
