<div class="d-flex justify-content-between flex-column vh-100">
  <div>
    <!-- Logo -->
    <div class="d-flex align-items-center justify-content-center my-4">
      <mat-icon class="fs-4">local_fire_department</mat-icon>
      <span class="fs-5 fw-bold">Kanban fire</span>
    </div>
    <!--  -->

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Workspace
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <!-- New workspace button -->
          <button (click)="addWorkspace()" mat-raised-button color="primary" class="w-100">
            <mat-icon>add</mat-icon>
            Space
          </button>
          <!--  -->

          <mat-list>
            <mat-list-item *ngFor="let item of workspaces" (click)="setCurrentWorkspace(this.item)">
              {{item.name}}
            </mat-list-item>
          </mat-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <button *ngIf="!user" routerLink="/login" mat-raised-button class="w-100 mt-3" color="primary">Sign In</button>

  <div *ngIf="user" class="d-flex align-items-center justify-content-between">
    <div>
      <mat-chip>
        <img matChipAvatar [src]="user.photoURL" alt="Photo of a Shiba Inu" />
        {{user.displayName}}
      </mat-chip>
    </div>

    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [cdkCopyToClipboard]="user.uid">
          <mat-icon>filter_none</mat-icon>
          <span>Copy id</span>
        </button>
        <button mat-menu-item>
          <mat-icon>person_outline</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="authService.SignOut()">
          <mat-icon>sync</mat-icon>
          <span>Switch account</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
